@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// @import url('https://fonts.google.com/share?selection.family=Pixelify%2BSans');

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
// $family-sans-serif: 'Pixelify Sans', cursive;
$section-my-padding: 2rem 2rem;
$section-padding-my-medium: 3rem 3rem;
$footer-padding-my-style: 1rem 1rem 1rem;


// Bulma sass
$section-padding: $section-my-padding;
$section-padding-medium: $section-padding-my-medium;
$footer-padding: $footer-padding-my-style;

// import Sassファイル
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";
@import "../../node_modules/bulma/sass/base/generic.sass";
@import "../../node_modules/bulma/bulma.sass";